<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio existe, usa la ruta original
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todas las solicitudes al index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

# Configuración de seguridad
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<FilesMatch "^index\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Desactivar listado de directorios
Options -Indexes
